<!--<div class="map-one">-->
    <!--&lt;!&ndash;<span>2018年2月-2018年3月</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="title">选择日期</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<infinite-calendar></infinite-calendar>&ndash;&gt;-->
    <!--&lt;!&ndash;开始日期<input type="date">　－&ndash;&gt;-->
    <!--&lt;!&ndash;结束日期<input type="date">&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--<div class="choose-time">-->
    <!--&lt;!&ndash;<my-date-range-picker></my-date-range-picker>&ndash;&gt;-->

  <!--</div>-->

  <!--<div #contrainer [id]="heatMapId">-->
    <!--<div *ngFor="let device of deviceList" #heatMap id="{{heatMapId}}-{{device['uid']}}-{{type}}-{{date}}"  class="heat-map-slide">-->
      <!--<img src="{{heatMapBg(device)}}" style="width: 100%;margin: 0px">-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="progress_custom">-->
    <!--<p>值域11</p>-->
    <!--<div [id]="valueThresholdSliderId()" class="progress-bar"></div>-->
  <!--</div>-->

  <!--<div class="progress_custom">-->
    <!--<p>透明度</p>-->
    <!--<div [id]="opacityRangeSliderId()" class="progress-bar">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
