<div class="row">
  <app-company-list class="col-sm-3" [organizationName]="organizationName" [orgShow]="true" (change)="getCompanyInfo($event, staticModal)"></app-company-list>
</div>

<div class="row">
  <div class="col-sm-1">
    <label class="query_label">层级：</label>
  </div>
  <div class="form-group col-sm-2">
    <select class="form-control" [disabled]="isLevelData" [(ngModel)]="levelName" (ngModelChange)="onLevelChange($event)" placeholder="请先选择组织">
      <option value=""></option>
      <option value="113" *ngFor="let i of levelList, index as levelIndex" [value]="levelIndex">{{i.name}}</option>
    </select>
  </div>
</div>

<div class="row" *ngIf="page === 'stayPage' || page === 'countPage'">
  <div class="col-sm-1">
    <label class="query_label">日期类型：</label>
  </div>
  <div class="form-group col-sm-2">
    <select class="form-control"  [(ngModel)]="dayType"  placeholder="请先选择类型">
      <option value=""></option>
      <option value="workDay">工作日</option>
      <option value="weekend">周末</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-sm-1 query_label">
    <label class="">日期：</label>
  </div>
  <div class="col-sm-2 form-group">
    <input type="text"
           placeholder="请选择时间"
           class="form-control"
           bsDaterangepicker [(ngModel)]="bsRangeValue"/>
  </div>
  <p class="col-sm-4">(如果查询单日数据<例如：T日>，日期范围请选择T -- T+1)</p>
</div>

<div class="row" *ngIf="timeShow">
  <div class="col-sm-1 query_label" style="margin-top: 30px;">
    <label class="">时间：</label>
  </div>
  <div class="col-sm-1"><timepicker [(ngModel)]="startTime" [showMinutes]="false" [showMeridian]="false"></timepicker></div>
  <div style="line-height: 2.25;margin-top: 30px;">---</div>
  <div class="col-sm-1"><timepicker [(ngModel)]="endTime" [showMinutes]="false" [showMeridian]="false"></timepicker></div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-1">
    <button class="btn btn-primary" type="button" (click)="query()" >查询</button>
  </div>

  <div class="col-sm-1">
    <button class="btn btn-primary" type="button" (click)="exportExcel()" >导出</button>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{organizationName}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-company-tree [company]="companyId" [staticModal]="staticModal"
                          (change)="getOrgInfo($event)"></app-company-tree>
      </div>
    </div>
  </div>
</div>

